        body {
          font-family: sans-serif;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        h1 {
          font-size: 3rem;
          margin-top: 1rem;
        }

        .input-group {
          display: flex;
          align-items: baseline;
          justify-content: center;
        }

        .input-group label {
          margin-right: 10px;
        }

        label {
          display: block;
          margin-top: 2rem;
          font-size: 1.2rem;
        }

        input[type='number'] {
          font-size: 1.2rem;
          padding: 0.5rem;
          border-radius: 0.25rem;
          border: 1px solid #ccc;
          width: 4ch;
          max-width: 100%;
        }

        button {
          font-size: 1.2rem;
          padding: 0.5rem;
          border-radius: 0.25rem;
          border: 1px solid #ccc;
          background-color: #eee;
          margin-top: 2rem;
        }

        button:hover {
          background-color: #ddd;
          cursor: pointer;
        }

        #timer {
          font-size: 4rem;
          margin-top: 2rem;
        }

        #applications {
          margin-top: 2rem;
          font-size: 1.2rem;
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 500px;
        }

        #start {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        /* New rules */
        .input-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        .input-container .input-group {
          margin-right: 20px;
        }

        .input-container .input-group:last-child {
          margin-right: 0;
        }

        button {
          /* Default button styles */
        }

        button.start {
          background-color: green;
        }

        button.pause {
          background-color: yellow;
        }

        button.stop {
          background-color: red;
        }
